{% extends 'base.html' %}

{% block header %}
    <br>
    <h1  class="text-light" >{% block title%} {{ post['title'] }} Comments's {% endblock %}</h1>
    <br>
{% endblock %}

{% block content %}
<div>
   {% for comment in comments %}
        <article >
            <p class=" text-primary body">{{ comment['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr clas=" border border-primary">
        {% endif %}
    {% endfor %}
    {% if current_user %}
    <form action="{{ url_for('blog.addComment', )}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h3 class="text-light">Add comment...</h3>
        <input type="hidden" name="post_id" value="{{ post['id'] }}"/>
        <div class="mb-3  text-light">
        <textarea class="form-control" name="body"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
    {% endif%}
</div>
{% endblock %}