{% extends 'base.html' %}

{% block header %}
    <nav class="navbar navbar-expand-md mb-4"></nav>
        <h3  class=" text-light navbar-brand" >{% block title %}Posts{% endblock %}</h3>
        {% if current_user %}
        <a class="nav-item action btn btn-primary justify-content-end" href="{{ url_for('blog.create')}}">New</a>
        {% endif%}
    </nav>
{% endblock%}

{% block content %}
    {% for post in posts %}
    <div class="jumbotron">
        <article class="post">
            <header>
                <div>
                    <h3 >{{ post['title'] }}</h3>
                    <div class="about"> by {{getPostUser(post['author_id'])}} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if current_user.id == post['author_id'] %}
                    <a class='action' href="{{ url_for('blog.update', id=post['id']) }}">
                        Edit
                    </a>
                {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
            {% if current_user.is_authenticated %}
                {% if current_user.has_liked_post(post) %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <a href="{{ url_for('blog.like', id=post.id, action='unlike') }}"">Unlike</a>
                </form>
                {% else %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <a href="{{ url_for('blog.like', id=post.id, action='like') }}">Like</a>
                </form>
                {% endif %} 
            {% endif %}
            {{ post.likes|length }} likes {{ post.comments|length }} <a class='action' href="{{ url_for('blog.showComments', id=post['id']) }}">comments</a> 
        </article>
        <!-- {% if not loop.last %}
            <hr>
        {% endif %} -->
    </div>
    {% endfor %}

{% endblock %}
