{% extends 'base.html' %}

{% block header %}
    <br>
    <h1 class="custom-centered" >{% block title%}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" class="custom-centered" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3"></div>
            <label class="form-label" for="title">Title</label>
            <input   class="form-control"name="title" id='title' value="{{ request.form['title'] or post['title']}}" required>
        </div>
        <div class="mb-3">
            <label  class="form-label" for="body">Body</label>
            <textarea   class="form-control"name="body" id='body'>{{ request.form['body'] or post['body']}}</textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}